---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";

import hurl from "../assets/hurl.webp";
import portfolio from "../assets/portfolio.webp";
import bonavoy from "../assets/bonavoy.webp";
import ladybird from "../assets/ladybird.webp";
import codeedit from "../assets/codeedit.webp";
import "../styles/global.css";
import Header from "@components/Header.astro";
import Card from "@components/Card.astro";
import Footer from "@components/Footer.astro";
---

<Layout>
  <div class="m-auto max-w-3xl">
    <div class="m-auto max-w-3xl">
      <Header />
      <h1 class="font-title pt-16 text-5xl pb-8">my projects.</h1>

      <section class="pb-16">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <Card
            imgSrc={bonavoy}
            title="Bonavoy"
            description="A real-time collaborative travel planner."
            tags={["nextjs", "GraphQL", "Tailwind", "TypeScript"]}
            source="https://github.com/Bonavoy"
          />
          <Card
            imgSrc={hurl}
            title="hurl"
            description="Postman-style HTTP workflows in your terminal"
            tags={["Go"]}
            source="https://github.com/neil-ptr/hurl"
          />
          <Card
            imgSrc={portfolio}
            title="neil.viloria.dev"
            description="My portfolio"
            tags={["Astro", "Tailwind"]}
            source="https://github.com/neil-ptr/neil.viloria.dev"
            link="https://neil.viloria.dev"
          />
          <Card
            imgSrc={hurl}
            title="CommonTools"
            description="Ad-free, in-browser tools commonly used by developers and designers"
            underConstruction
            tags={["NextJS", "TypeScript", "ShadCN", "Tailwind"]}
          />
        </div>
      </section>

      <section class="pb-16">
        <div class="flex justify-between items-center pb-8">
          <h2 class="font-title text-3xl">open source work</h2>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <Card
            imgSrc={ladybird}
            title="LadyBird"
            description="Implemented CSS Grid spacing per W3C spec, built devtools for debugging."
            tags={["Swift", "SwiftUI", "AppKit", "C++", "Qt"]}
            link="https://ladybird.org/"
            source="https://github.com/LadybirdBrowser/ladybird"
          />

          <Card
            imgSrc={codeedit}
            title="Code Edit"
            description="Added drag-and-drop support to the file tree and fixing a bug in the settings window."
            tags={["Swift", "SwiftUI", "AppKit"]}
            link="https://www.codeedit.app/"
            source="https://github.com/CodeEditApp/CodeEdit"
          />
        </div>
      </section>
    </div>

    <Footer />
  </div>
</Layout>
