---
const { imgSrc, title, description, tags, link, source, underConstruction } =
  Astro.props;
import { Image } from "astro:assets";
import { Globe, FileJson2 } from "@lucide/astro";
---

<div class="rounded-xl border border-accent flex flex-col justify-between">
  <div>
    {
      underConstruction ? (
        <div class="w-[375px] h-[225px] aspect-[5/3] p-6">
          <div class="bg-accent flex justify-center items-center w-full h-full">
            Coming Soon
          </div>
        </div>
      ) : (
        <a href={link || source} target="_blank" rel="noopener noreferrer">
          <Image
            src={imgSrc}
            alt={title}
            class="aspect-[5/3] p-6 w-full object-cover"
            width={375}
            height={225}
          />
        </a>
      )
    }

    <div class="pb-6 px-6">
      <h2 class="font-semibold text-md">{title}</h2>
      <p class="text-xs text-secondary">{description}</p>
    </div>
  </div>

  <div>
    <div class="pb-4 px-6">
      <div
        class="flex flex-wrap gap-1 text-[10px] text-foreground font-semibold"
      >
        {tags.map((tag) => <span class="bg-accent px-1 rounded ">{tag}</span>)}
      </div>
    </div>

    <div class="pb-6 px-6">
      <div class="flex text-sm gap-1">
        {
          link && (
            <a
              href={link}
              class="py-1 flex items-center gap-1 px-2 text-[10px] bg-foreground text-background rounded-md font-semibold cursor-pointer"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Globe size={10} /> Live
            </a>
          )
        }
        {
          source && (
            <a
              href={source}
              class="py-1 flex items-center gap-1 px-2 text-[10px] bg-foreground text-background rounded-md font-semibold cursor-pointer"
              target="_blank"
              rel="noopener noreferrer"
            >
              <FileJson2 size={10} />
              Source
            </a>
          )
        }
      </div>
    </div>
  </div>
</div>
