---
type Props = {
  imgSrc: string;
  title: string;
  description: string;
  tags: string[];
  link?: string;
  source?: string;
}

const { imgSrc, title, description, tags, link, source } = Astro.props;
---

<div class="rounded-xl border border-accent shadow-sm overflow-hidden transition hover:shadow-md">
  <img src={imgSrc} alt={title} class="aspect-[5/3] p-6 object-cover" />
  
    <div class="pb-6 px-6">
      <h2 class="font-semibold">{title}</h2>
      <p class="text-xs text-gray-600">{description}</p>
    </div>

    <div class="pb-4 px-6">
      <div class="flex flex-wrap gap-1 text-[10px] text-foreground font-semibold">
        {tags.map(tag => (
          <span class="bg-accent px-1 rounded ">{tag}</span>
        ))}
      </div>
    </div>

    <div class="pb-6 px-6">
      <div class="flex text-sm gap-1">
        {link && <a href={link} class="py-1 px-2 text-[10px] bg-foreground text-background rounded-md font-semibold">Live</a>}
        {source && <a href={source} class="py-1 px-2 text-[10px] bg-foreground text-background rounded-md font-semibold">Source</a>}
      </div>
    </div>

</div>
